[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"

[packages]
requests = "*"

[requires]
python_version = "3.7"
