{
  "openapi": "3.1.0",
  "info": {
    "title": "Yandex Music API",
    "version": "3.2.1",
    "description": "Неофициальное описание API Яндекс Музыки, сгенерированное автоматически из Python-библиотеки\n**[yandex-music](https://github.com/MarshalX/yandex-music-api)**. Все методы ниже уже реализованы в библиотеке: синхронный\nи асинхронный клиенты, типизированные модели ответов, [Ynison](https://ym.marshal.dev/ynison) и [сессии радио](https://ym.marshal.dev/radio).\n\n```bash\npip install yandex-music\n```\n\n```python\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.users_likes_tracks()[0].fetch_track().download('example.mp3')\n```\n\n- 📖 [Документация библиотеки](https://ym.marshal.dev)\n- ⭐ [Исходный код на GitHub](https://github.com/MarshalX/yandex-music-api)\n- 📦 [Пакет на PyPI](https://pypi.org/project/yandex-music)\n- 💬 [Telegram-чат сообщества](https://t.me/yandex_music_api)\n\n## Ограничения\n\nОписание построено автоматически по коду библиотеки, поэтому возможны неточности:\n\n- Имена полей ответов приведены к camelCase. Часть ключей API на самом деле в kebab-case, например `bar-below`.\n- Поля тела запроса описаны как строки, без точных типов.\n- В примерах кода вместо значений аргументов указано `...`.\n- Если один эндпоинт используют несколько методов библиотеки, он описан один раз,\n  а остальные методы перечислены в поле `x-library-methods`.\n- Отправка запросов прямо со страницы отключена, для вызовов используйте библиотеку.\n\nНашли ошибку? Создайте [issue на GitHub](https://github.com/MarshalX/yandex-music-api/issues).\n\nАвтор: [Ilya (Marshal)](https://github.com/MarshalX) 🦁\n\nЕсли библиотека или это описание пригодились, поставьте ⭐ [репозиторию на GitHub](https://github.com/MarshalX/yandex-music-api).\n",
    "contact": {
      "name": "Ilya (Marshal)",
      "url": "https://github.com/MarshalX"
    },
    "license": {
      "name": "LGPL-3.0",
      "identifier": "LGPL-3.0-only"
    }
  },
  "externalDocs": {
    "description": "Документация библиотеки",
    "url": "https://ym.marshal.dev"
  },
  "servers": [
    {
      "url": "https://api.music.yandex.net"
    }
  ],
  "security": [
    {
      "OAuth": []
    }
  ],
  "tags": [
    {
      "name": "OAuth Device Flow",
      "x-displayName": "🔑 OAuth Device Flow",
      "description": "Миксин для получения OAuth-токена Яндекса без сторонних инструментов."
    },
    {
      "name": "Авторы контента",
      "x-displayName": "👥 Авторы контента",
      "description": "Миксин для методов, связанных с получением участников создания контента."
    },
    {
      "name": "Аккаунт",
      "x-displayName": "👤 Аккаунт",
      "description": "Миксин для методов, связанных с аккаунтом и настройками."
    },
    {
      "name": "Альбомы",
      "x-displayName": "💿 Альбомы",
      "description": "Миксин для методов, связанных с альбомами."
    },
    {
      "name": "Артисты",
      "x-displayName": "🎤 Артисты",
      "description": "Миксин для методов, связанных с артистами."
    },
    {
      "name": "Видеоклипы",
      "x-displayName": "🎬 Видеоклипы",
      "description": "Миксин для методов, связанных с видеоклипами."
    },
    {
      "name": "Волна",
      "x-displayName": "🌊 Волна",
      "description": "Миксин для методов, связанных с волной (последняя волна пользователя и её настройки)."
    },
    {
      "name": "Дисклеймеры",
      "x-displayName": "🚫 Дисклеймеры",
      "description": "Миксин для методов, связанных с получением дисклеймеров контента."
    },
    {
      "name": "Закреплённые",
      "x-displayName": "📌 Закреплённые",
      "description": "Миксин для методов, связанных с закреплёнными элементами."
    },
    {
      "name": "История прослушивания",
      "x-displayName": "🕘 История прослушивания",
      "description": "Миксин для методов, связанных с историей прослушивания."
    },
    {
      "name": "Концерты",
      "x-displayName": "🎫 Концерты",
      "description": "Миксин для методов, связанных с концертами и афишей."
    },
    {
      "name": "Лайки и дизлайки",
      "x-displayName": "👍 Лайки и дизлайки",
      "description": "Миксин для методов, связанных с лайками и дизлайками."
    },
    {
      "name": "Лейблы",
      "x-displayName": "🏢 Лейблы",
      "description": "Миксин для методов, связанных с лейблами."
    },
    {
      "name": "Лендинг и фид",
      "x-displayName": "🏠 Лендинг и фид",
      "description": "Миксин для методов, связанных с лендингом и фидом."
    },
    {
      "name": "Метатеги",
      "x-displayName": "🔖 Метатеги",
      "description": "Миксин для методов, связанных с метатегами (подборки по настроениям, занятиям, жанрам и эпохам)."
    },
    {
      "name": "Очередь",
      "x-displayName": "📋 Очередь",
      "description": "Миксин для методов, связанных с очередью прослушивания."
    },
    {
      "name": "Плейлисты",
      "x-displayName": "🎶 Плейлисты",
      "description": "Миксин для методов, связанных с плейлистами."
    },
    {
      "name": "Поиск",
      "x-displayName": "🔍 Поиск",
      "description": "Миксин для методов поиска."
    },
    {
      "name": "Предсохранения",
      "x-displayName": "⏳ Предсохранения",
      "description": "Миксин для методов, связанных с предсохранениями альбомов."
    },
    {
      "name": "Радио",
      "x-displayName": "📻 Радио",
      "description": "Миксин для методов, связанных с радио (rotor)."
    },
    {
      "name": "Сессии радио",
      "x-displayName": "📡 Сессии радио",
      "description": "Миксин для методов, связанных с сессиями радио (rotor session) и комбинированными сессиями (треки и клипы)."
    },
    {
      "name": "Треки",
      "x-displayName": "🎵 Треки",
      "description": "Миксин для методов, связанных с треками."
    }
  ],
  "paths": {
    "/account/consume-promo-code": {
      "post": {
        "operationId": "consume_promo_code",
        "summary": "Активация промо-кода.",
        "description": "Метод библиотеки: [`Client.consume_promo_code`](https://ym.marshal.dev/yandex_music._client.account/#yandex_music._client.account.AccountMixin.consume_promo_code)",
        "tags": [
          "Аккаунт"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Промо-код."
                  },
                  "language": {
                    "type": "string",
                    "description": "Язык ответа API в ISO 639-1. По умолчанию язык клиента."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/PromoCodeStatus"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.consume_promo_code(code=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.consume_promo_code(code=...)"
          }
        ]
      }
    },
    "/account/experiments": {
      "get": {
        "operationId": "account_experiments",
        "summary": "Получение значений экспериментальных функций аккаунта.",
        "description": "Метод библиотеки: [`Client.account_experiments`](https://ym.marshal.dev/yandex_music._client.account/#yandex_music._client.account.AccountMixin.account_experiments)",
        "tags": [
          "Аккаунт"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Experiments"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.account_experiments()"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.account_experiments()"
          }
        ]
      }
    },
    "/account/experiments/details": {
      "get": {
        "operationId": "account_experiments_details",
        "summary": "Получение детальной информации об экспериментальных функциях аккаунта.",
        "description": "Метод библиотеки: [`Client.account_experiments_details`](https://ym.marshal.dev/yandex_music._client.account/#yandex_music._client.account.AccountMixin.account_experiments_details)",
        "tags": [
          "Аккаунт"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ExperimentsDetails"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.account_experiments_details()"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.account_experiments_details()"
          }
        ]
      }
    },
    "/account/settings": {
      "get": {
        "operationId": "account_settings",
        "summary": "Получение настроек текущего пользователя.",
        "description": "Метод библиотеки: [`Client.account_settings`](https://ym.marshal.dev/yandex_music._client.account/#yandex_music._client.account.AccountMixin.account_settings)",
        "tags": [
          "Аккаунт"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/UserSettings"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.account_settings()"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.account_settings()"
          }
        ]
      },
      "post": {
        "operationId": "account_settings_set",
        "summary": "Изменение настроек текущего пользователя.",
        "description": "Метод библиотеки: [`Client.account_settings_set`](https://ym.marshal.dev/yandex_music._client.account/#yandex_music._client.account.AccountMixin.account_settings_set)",
        "tags": [
          "Аккаунт"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/UserSettings"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.account_settings_set()"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.account_settings_set()"
          }
        ]
      }
    },
    "/account/status": {
      "get": {
        "operationId": "account_status",
        "summary": "Получение статуса аккаунта. Нет обязательных параметров.",
        "description": "Метод библиотеки: [`Client.account_status`](https://ym.marshal.dev/yandex_music._client.account/#yandex_music._client.account.AccountMixin.account_status)",
        "tags": [
          "Аккаунт"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Status"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.account_status()"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.account_status()"
          }
        ]
      }
    },
    "/after-track": {
      "get": {
        "operationId": "after_track",
        "summary": "Получение рекламы или шота от Алисы после трека.",
        "description": "Метод библиотеки: [`Client.after_track`](https://ym.marshal.dev/yandex_music._client.tracks/#yandex_music._client.tracks.TracksMixin.after_track)",
        "tags": [
          "Треки"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Место, с которого попали в контекст.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prevTrackId",
            "in": "query",
            "required": false,
            "description": "Уникальный идентификатор предыдущего трека.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          },
          {
            "name": "nextTrackId",
            "in": "query",
            "required": false,
            "description": "Уникальный идентификатор следующего трека.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "description": "Место, откуда было вызвано получение.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contextItem",
            "in": "query",
            "required": false,
            "description": "Уникальный идентификатор контекста.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "description": "Тип того, что вернуть после трека.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ShotEvent"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.after_track(next_track_id=..., context_item=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.after_track(next_track_id=..., context_item=...)"
          }
        ]
      }
    },
    "/albums": {
      "post": {
        "operationId": "albums",
        "summary": "Получение альбома/альбомов.",
        "description": "Метод библиотеки: [`Client.albums`](https://ym.marshal.dev/yandex_music._client.albums/#yandex_music._client.albums.AlbumsMixin.albums)",
        "tags": [
          "Альбомы"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "album-ids": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Album"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.albums(album_ids=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.albums(album_ids=...)"
          }
        ]
      }
    },
    "/albums/{album_id}/disclaimer": {
      "get": {
        "operationId": "albums_disclaimer",
        "summary": "Получение дисклеймера альбома.",
        "description": "Метод библиотеки: [`Client.albums_disclaimer`](https://ym.marshal.dev/yandex_music._client.disclaimers/#yandex_music._client.disclaimers.DisclaimersMixin.albums_disclaimer)",
        "tags": [
          "Дисклеймеры"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор альбома.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Disclaimer"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.albums_disclaimer(album_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.albums_disclaimer(album_id=...)"
          }
        ]
      }
    },
    "/albums/{album_id}/similar-entities": {
      "get": {
        "operationId": "albums_similar_entities",
        "summary": "Получение похожих сущностей для альбома.",
        "description": "Метод библиотеки: [`Client.albums_similar_entities`](https://ym.marshal.dev/yandex_music._client.albums/#yandex_music._client.albums.AlbumsMixin.albums_similar_entities)",
        "tags": [
          "Альбомы"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор альбома.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/AlbumSimilarEntities"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.albums_similar_entities(album_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.albums_similar_entities(album_id=...)"
          }
        ]
      }
    },
    "/albums/{album_id}/trailer": {
      "get": {
        "operationId": "albums_trailer",
        "summary": "Получение трейлера альбома.",
        "description": "Метод библиотеки: [`Client.albums_trailer`](https://ym.marshal.dev/yandex_music._client.albums/#yandex_music._client.albums.AlbumsMixin.albums_trailer)",
        "tags": [
          "Альбомы"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор альбома.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/AlbumTrailer"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.albums_trailer(album_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.albums_trailer(album_id=...)"
          }
        ]
      }
    },
    "/albums/{album_id}/with-tracks": {
      "get": {
        "operationId": "albums_with_tracks",
        "summary": "Получение альбома по его уникальному идентификатору вместе с треками.",
        "description": "Метод библиотеки: [`Client.albums_with_tracks`](https://ym.marshal.dev/yandex_music._client.albums/#yandex_music._client.albums.AlbumsMixin.albums_with_tracks)",
        "tags": [
          "Альбомы"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "album_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор альбома.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Album"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.albums_with_tracks(album_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.albums_with_tracks(album_id=...)"
          }
        ]
      }
    },
    "/artists": {
      "post": {
        "operationId": "artists",
        "summary": "Получение исполнителя/исполнителей.",
        "description": "Метод библиотеки: [`Client.artists`](https://ym.marshal.dev/yandex_music._client.artists/#yandex_music._client.artists.ArtistsMixin.artists)",
        "tags": [
          "Артисты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "artist-ids": {
                    "type": "string",
                    "description": ""
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Artist"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists(artist_ids=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists(artist_ids=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/about-artist": {
      "get": {
        "operationId": "artists_about",
        "summary": "Получение информации «Об артисте».",
        "description": "Метод библиотеки: [`Client.artists_about`](https://ym.marshal.dev/yandex_music._client.artists/#yandex_music._client.artists.ArtistsMixin.artists_about)",
        "tags": [
          "Артисты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор артиста.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ArtistAbout"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_about(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_about(artist_id=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/also-albums": {
      "get": {
        "operationId": "artists_also_albums",
        "summary": "Получение сборников и альбомов, в которых участвовал артист.",
        "description": "Метод библиотеки: [`Client.artists_also_albums`](https://ym.marshal.dev/yandex_music._client.artists/#yandex_music._client.artists.ArtistsMixin.artists_also_albums)",
        "tags": [
          "Артисты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор артиста.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          },
          {
            "name": "sort-by",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Номер страницы.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page-size",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ArtistAlbums"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_also_albums(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_also_albums(artist_id=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/artist-links": {
      "get": {
        "operationId": "artists_links",
        "summary": "Получение ссылок на страницы артиста.",
        "description": "Метод библиотеки: [`Client.artists_links`](https://ym.marshal.dev/yandex_music._client.artists/#yandex_music._client.artists.ArtistsMixin.artists_links)",
        "tags": [
          "Артисты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор артиста.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ArtistLinks"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_links(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_links(artist_id=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/blocks/artist-clips": {
      "get": {
        "operationId": "artists_clips",
        "summary": "Получение клипов артиста.",
        "description": "Метод библиотеки: [`Client.artists_clips`](https://ym.marshal.dev/yandex_music._client.artists/#yandex_music._client.artists.ArtistsMixin.artists_clips)",
        "tags": [
          "Артисты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор артиста.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ArtistClips"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_clips(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_clips(artist_id=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/blocks/artist-donation": {
      "get": {
        "operationId": "artists_donation",
        "summary": "Получение информации о донатах артиста.",
        "description": "Метод библиотеки: [`Client.artists_donation`](https://ym.marshal.dev/yandex_music._client.artists/#yandex_music._client.artists.ArtistsMixin.artists_donation)",
        "tags": [
          "Артисты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор артиста.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ArtistDonations"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_donation(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_donation(artist_id=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/brief-info": {
      "get": {
        "operationId": "artists_brief_info",
        "summary": "Получение информации об артисте.",
        "description": "Метод библиотеки: [`Client.artists_brief_info`](https://ym.marshal.dev/yandex_music._client.artists/#yandex_music._client.artists.ArtistsMixin.artists_brief_info)",
        "tags": [
          "Артисты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор исполнителя.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/BriefInfo"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_brief_info(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_brief_info(artist_id=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/concerts": {
      "get": {
        "operationId": "artists_concerts",
        "summary": "Получение концертов артиста.",
        "description": "Метод библиотеки: [`Client.artists_concerts`](https://ym.marshal.dev/yandex_music._client.concerts/#yandex_music._client.concerts.ConcertsMixin.artists_concerts)",
        "tags": [
          "Концерты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор артиста.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ArtistConcerts"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_concerts(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_concerts(artist_id=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/direct-albums": {
      "get": {
        "operationId": "artists_direct_albums",
        "summary": "Получение альбомов артиста.",
        "description": "Метод библиотеки: [`Client.artists_direct_albums`](https://ym.marshal.dev/yandex_music._client.artists/#yandex_music._client.artists.ArtistsMixin.artists_direct_albums)",
        "tags": [
          "Артисты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор артиста.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          },
          {
            "name": "sort-by",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Номер страницы.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page-size",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ArtistAlbums"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_direct_albums(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_direct_albums(artist_id=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/disclaimer": {
      "get": {
        "operationId": "artists_disclaimer",
        "summary": "Получение дисклеймера артиста.",
        "description": "Метод библиотеки: [`Client.artists_disclaimer`](https://ym.marshal.dev/yandex_music._client.disclaimers/#yandex_music._client.disclaimers.DisclaimersMixin.artists_disclaimer)",
        "tags": [
          "Дисклеймеры"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор артиста.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Disclaimer"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_disclaimer(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_disclaimer(artist_id=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/discography-albums": {
      "get": {
        "operationId": "artists_discography_albums",
        "summary": "Получение дискографии артиста.",
        "description": "Метод библиотеки: [`Client.artists_discography_albums`](https://ym.marshal.dev/yandex_music._client.artists/#yandex_music._client.artists.ArtistsMixin.artists_discography_albums)",
        "tags": [
          "Артисты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор артиста.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          },
          {
            "name": "sort-by",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Номер страницы.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page-size",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ArtistAlbums"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_discography_albums(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_discography_albums(artist_id=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/info": {
      "get": {
        "operationId": "artists_info",
        "summary": "Получение подробной информации об артисте.",
        "description": "Метод библиотеки: [`Client.artists_info`](https://ym.marshal.dev/yandex_music._client.artists/#yandex_music._client.artists.ArtistsMixin.artists_info)",
        "tags": [
          "Артисты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор артиста.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ArtistInfo"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_info(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_info(artist_id=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/safe-direct-albums": {
      "get": {
        "operationId": "artists_safe_direct_albums",
        "summary": "Получение безопасных альбомов артиста.",
        "description": "Метод библиотеки: [`Client.artists_safe_direct_albums`](https://ym.marshal.dev/yandex_music._client.artists/#yandex_music._client.artists.ArtistsMixin.artists_safe_direct_albums)",
        "tags": [
          "Артисты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор артиста.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          },
          {
            "name": "sort-by",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort-order",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Количество альбомов.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ArtistAlbums"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_safe_direct_albums(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_safe_direct_albums(artist_id=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/similar": {
      "get": {
        "operationId": "artists_similar",
        "summary": "Получение похожих артистов.",
        "description": "Метод библиотеки: [`Client.artists_similar`](https://ym.marshal.dev/yandex_music._client.artists/#yandex_music._client.artists.ArtistsMixin.artists_similar)",
        "tags": [
          "Артисты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор артиста.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ArtistSimilar"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_similar(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_similar(artist_id=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/skeletons/web-artist-default": {
      "get": {
        "operationId": "artists_skeleton",
        "summary": "Получение скелетона страницы артиста.",
        "description": "Метод библиотеки: [`Client.artists_skeleton`](https://ym.marshal.dev/yandex_music._client.artists/#yandex_music._client.artists.ArtistsMixin.artists_skeleton)",
        "tags": [
          "Артисты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор артиста.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ArtistSkeleton"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_skeleton(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_skeleton(artist_id=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/track-ids": {
      "get": {
        "operationId": "artists_track_ids",
        "summary": "Получение идентификаторов треков артиста.",
        "description": "Метод библиотеки: [`Client.artists_track_ids`](https://ym.marshal.dev/yandex_music._client.artists/#yandex_music._client.artists.ArtistsMixin.artists_track_ids)",
        "tags": [
          "Артисты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор артиста.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Номер страницы.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page-size",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_track_ids(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_track_ids(artist_id=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/tracks": {
      "get": {
        "operationId": "artists_tracks",
        "summary": "Получение треков артиста.",
        "description": "Метод библиотеки: [`Client.artists_tracks`](https://ym.marshal.dev/yandex_music._client.artists/#yandex_music._client.artists.ArtistsMixin.artists_tracks)",
        "tags": [
          "Артисты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор артиста.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Номер страницы.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page-size",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ArtistTracks"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_tracks(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_tracks(artist_id=...)"
          }
        ]
      }
    },
    "/artists/{artist_id}/trailer": {
      "get": {
        "operationId": "artists_trailer",
        "summary": "Получение трейлера артиста.",
        "description": "Метод библиотеки: [`Client.artists_trailer`](https://ym.marshal.dev/yandex_music._client.artists/#yandex_music._client.artists.ArtistsMixin.artists_trailer)",
        "tags": [
          "Артисты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "artist_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор артиста.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ArtistTrailer"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.artists_trailer(artist_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.artists_trailer(artist_id=...)"
          }
        ]
      }
    },
    "/clips": {
      "get": {
        "operationId": "clips",
        "summary": "Получение клипов по идентификаторам.",
        "description": "Метод библиотеки: [`Client.clips`](https://ym.marshal.dev/yandex_music._client.clips/#yandex_music._client.clips.ClipsMixin.clips)",
        "tags": [
          "Видеоклипы"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "clipIds",
            "in": "query",
            "required": false,
            "description": "Уникальный идентификатор клипа или список идентификаторов.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Clip"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.clips(clip_ids=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.clips(clip_ids=...)"
          }
        ]
      }
    },
    "/clips/will/like": {
      "get": {
        "operationId": "clips_will_like",
        "summary": "Получение подборки рекомендуемых клипов.",
        "description": "Метод библиотеки: [`Client.clips_will_like`](https://ym.marshal.dev/yandex_music._client.clips/#yandex_music._client.clips.ClipsMixin.clips_will_like)",
        "tags": [
          "Видеоклипы"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Номер страницы.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Количество клипов на странице.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ClipsWillLike"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.clips_will_like()"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.clips_will_like()"
          }
        ]
      }
    },
    "/clips/{clip_id}/credits": {
      "get": {
        "operationId": "clips_credits",
        "summary": "Получение информации об участниках создания клипа.",
        "description": "Метод библиотеки: [`Client.clips_credits`](https://ym.marshal.dev/yandex_music._client.credits/#yandex_music._client.credits.CreditsMixin.clips_credits)",
        "tags": [
          "Авторы контента"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "clip_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор клипа.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Credits"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.clips_credits(clip_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.clips_credits(clip_id=...)"
          }
        ]
      }
    },
    "/clips/{clip_id}/disclaimer": {
      "get": {
        "operationId": "clips_disclaimer",
        "summary": "Получение дисклеймера клипа.",
        "description": "Метод библиотеки: [`Client.clips_disclaimer`](https://ym.marshal.dev/yandex_music._client.disclaimers/#yandex_music._client.disclaimers.DisclaimersMixin.clips_disclaimer)",
        "tags": [
          "Дисклеймеры"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "clip_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор клипа.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Disclaimer"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.clips_disclaimer(clip_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.clips_disclaimer(clip_id=...)"
          }
        ]
      }
    },
    "/concerts/feed": {
      "get": {
        "operationId": "concerts_feed",
        "summary": "Получение ленты концертов.",
        "description": "Метод библиотеки: [`Client.concerts_feed`](https://ym.marshal.dev/yandex_music._client.concerts/#yandex_music._client.concerts.ConcertsMixin.concerts_feed)",
        "tags": [
          "Концерты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "locations",
            "in": "query",
            "required": false,
            "description": "Список идентификаторов местоположений (geoId) для фильтрации ленты.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ConcertFeed"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.concerts_feed()"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.concerts_feed()"
          }
        ]
      }
    },
    "/concerts/locations": {
      "get": {
        "operationId": "concerts_locations",
        "summary": "Получение списка местоположений для фильтрации концертов.",
        "description": "Метод библиотеки: [`Client.concerts_locations`](https://ym.marshal.dev/yandex_music._client.concerts/#yandex_music._client.concerts.ConcertsMixin.concerts_locations)",
        "tags": [
          "Концерты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ConcertLocations"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.concerts_locations()"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.concerts_locations()"
          }
        ]
      }
    },
    "/concerts/tab-config": {
      "get": {
        "operationId": "concerts_tab_config",
        "summary": "Получение конфигурации вкладок концертов.",
        "description": "Метод библиотеки: [`Client.concerts_tab_config`](https://ym.marshal.dev/yandex_music._client.concerts/#yandex_music._client.concerts.ConcertsMixin.concerts_tab_config)",
        "tags": [
          "Концерты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ConcertTabConfig"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.concerts_tab_config()"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.concerts_tab_config()"
          }
        ]
      }
    },
    "/concerts/{concert_id}/info": {
      "get": {
        "operationId": "concert_info",
        "summary": "Получение информации о концерте.",
        "description": "Метод библиотеки: [`Client.concert_info`](https://ym.marshal.dev/yandex_music._client.concerts/#yandex_music._client.concerts.ConcertsMixin.concert_info)",
        "tags": [
          "Концерты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "concert_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор концерта (UUID).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ConcertInfo"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.concert_info(concert_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.concert_info(concert_id=...)"
          }
        ]
      }
    },
    "/concerts/{concert_id}/skeletons/concert_page": {
      "get": {
        "operationId": "concert_skeleton",
        "summary": "Получение скелетона страницы концерта.",
        "description": "Метод библиотеки: [`Client.concert_skeleton`](https://ym.marshal.dev/yandex_music._client.concerts/#yandex_music._client.concerts.ConcertsMixin.concert_skeleton)",
        "tags": [
          "Концерты"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "concert_id",
            "in": "path",
            "required": true,
            "description": "Уникальный идентификатор концерта (UUID).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ConcertSkeleton"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.concert_skeleton(concert_id=...)"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.concert_skeleton(concert_id=...)"
          }
        ]
      }
    },
    "/device/code": {
      "post": {
        "operationId": "request_device_code",
        "summary": "Запрос кода устройства для OAuth Device Flow.",
        "description": "Метод библиотеки: [`Client.request_device_code`](https://ym.marshal.dev/yandex_music._client.device_auth/#yandex_music._client.device_auth.DeviceAuthMixin.request_device_code)",
        "tags": [
          "OAuth Device Flow"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "OAuth client_id. По умолчанию — встроенный client_id Android-приложения Яндекс.Музыки."
                  },
                  "device_id": {
                    "type": "string",
                    "description": "Идентификатор устройства. По умолчанию — случайная строка из 10 символов."
                  },
                  "device_name": {
                    "type": "string",
                    "description": "Человекочитаемое имя устройства. По умолчанию — ``YandexMusicAPI``."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/DeviceCode"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.request_device_code()"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.request_device_code()"
          }
        ],
        "servers": [
          {
            "url": "https://oauth.yandex.ru"
          }
        ],
        "security": []
      }
    },
    "/feed": {
      "get": {
        "operationId": "feed",
        "summary": "Получение потока информации (фида) подобранного под пользователя. Содержит умные плейлисты.",
        "description": "Метод библиотеки: [`Client.feed`](https://ym.marshal.dev/yandex_music._client.landing/#yandex_music._client.landing.LandingMixin.feed)",
        "tags": [
          "Лендинг и фид"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Feed"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.feed()"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.feed()"
          }
        ]
      }
    },
    "/feed/wizard/is-passed": {
      "get": {
        "operationId": "feed_wizard_is_passed",
        "summary": "Получение информации о прохождении визарда.",
        "description": "Метод библиотеки: [`Client.feed_wizard_is_passed`](https://ym.marshal.dev/yandex_music._client.landing/#yandex_music._client.landing.LandingMixin.feed_wizard_is_passed)",
        "tags": [
          "Лендинг и фид"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.feed_wizard_is_passed()"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.feed_wizard_is_passed()"
          }
        ]
      }
    },
    "/genres": {
      "get": {
        "operationId": "genres",
        "summary": "Получение жанров музыки.",
        "description": "Метод библиотеки: [`Client.genres`](https://ym.marshal.dev/yandex_music._client.landing/#yandex_music._client.landing.LandingMixin.genres)",
        "tags": [
          "Лендинг и фид"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешный ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invocationInfo": {
                      "$ref": "#/components/schemas/InvocationInfo"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Genre"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "yandex-music",
            "source": "# pip install yandex-music\nfrom yandex_music import Client\n\nclient = Client('TOKEN').init()\nclient.genres()"
          },
          {
            "lang": "python",
            "label": "yandex-music (async)",
            "source": "# pip install yandex-music\nfrom yandex_music import ClientAsync\n\nclient = await ClientAsync('TOKEN').init()\nawait client.genres()"
          }
        ]
      }
    },
    "/get-file-info": {
      "get": {
        "operationId": "tracks_file_info",
        "summary": "Получение информации о файле трека, в том числе в lossless качестве.",
        "description": "Метод библиотеки: [`Client.tracks_file_info`](https://ym.marshal.dev/yandex_music._client.tracks/#yandex_music._client.tracks.TracksMixin.tracks_file_info)",
        "tags": [
          "Треки"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Yandex-Music-Client"
          },
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "name": "ts",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trackId",
            "in": "query",
            "required": false,
            "description": "Уникальный идентификатор трека.",
            "schema": {
              "type": [
                "string",
                "integer"
              ]
            }
          },
          {
            "name": "quality",
            "in": "query",
            "required": false,
            "description": "Качество.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codecs",
            "in": "query",
            "required": false,
            "description": "Допустимые кодеки. По умолчанию все известные.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transports",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
[...]
